[core]
	autocrlf = input
[protocol]
	version = 2
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[color]
    diff = always
    status = always
    branch = always
    interactive = always
[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ , => , \\2/' | sort | column -t -s ','
    aa = add .
    au = add -u
    bf = "!f(){ git branch -ra | grep $1; }; f"
    br = branch
    ci = commit -m
    co = checkout
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    st = status
[push]
	autoSetupRemote = true
